<h1>Movies</h1>

<p> Current amount of movies: <%= @movies.count %> </p>

<ul>
  <% @movies.each do |movie| %>
    <li>
        <%= link_to movie.title, movie %>
    </li>
  <% end %>
</ul>

<%= link_to "New Movie", new_movie_path, class: "btn btn-outline-success btn-sm" %>
<br/>
<br/>
<%= link_to "Get Most Popular Movies", top_movies_path, class: "btn btn-primary" %>
